* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0 !important;
    text-indent: 10px;
}


.bg-main {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: url("../img/6.JPG") center no-repeat;
    background-size: cover;
    opacity: 25%;
    z-index: -1;
}

.all {
    height: 100vh;
    width: 100%;
}

.header {
    position: relative;
}

.logo-img {
    max-width: 70%;
}

.instagram {
    max-width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.container {
    z-index: 10;
}

.main-text {
    width: 50%;

}

.title-text p{

    font-weight: 500;
    color: black;
}

.spam-text p{
    line-height: 1.55;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 400;
    border-color: transparent;
    border-style: solid;
}

.adress-text {
    font-size: 30px;
    text-align: center;
}

.number {
    text-align: center;
}

.social {
    padding-left: 10px;
    max-width: 50%;
    height: 35%;
}




.yButton {
    bottom: -1px !important;
    right: -1px !important;
}

.yButtonWave {
    color: black !important;
}

.yButtonBackground {
    background-color: black !important;
}



