* {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 0 !important;
}

body {
    position: relative;
}

.all {
    position: relative;
    height: 100vh;
    width: 100%;
}

.all-gal {
    padding:10px 10px 5px;
}

.all-price {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.not-all {
    height: 115vh;
    width: 100%;
}

.header {
    padding: 0 15px;
}

.logo-img {
    max-width: 70%;
}

.container {
    z-index: 10;
}

.main-text {
    padding: 0 30px;
    text-align: center;
}

.points {
    width: 50px;
}

.title-text p{
    font-weight: 600;
    color: #161616;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.master-text {
    padding: 20px 10px 0;
}

.master .main-text p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.owl-carousel {
    margin-top: 10px;
}

.spam-text {
    padding-top: 80px;
    margin-bottom: 20px;
}

.spam-text p {
    line-height: 1.55;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-size: 19px;
    font-weight: 400;
    border-color: transparent;
    border-style: solid;
}

.adress-and-number {

}

.adress-text {
    font-size: 16px;
    text-align: center;
}

.number {
    text-align: center;
}

.social {
    z-index: 100;
    position: fixed;
    padding-left: 10px;
    max-width: 50%;
    left: 20px;
    bottom: 20px;
}

.social-item {
    max-width: 20px;
}

.social a + a {
    margin-left: 25px;
}
.yButton {
    bottom: -1px !important;
    right: -1px !important;
}
.yButtonWave {
    color: black !important;
    max-width: 110px !important;
    max-height: 110px !important;
}
.yButtonBackground {
    background-color: black !important;
}
/*ЦЕНЫ И УСЛУГИ*/

.header-price {
    text-align: center;
    padding: 5px 0;
    color: white;
    background-color: black;
}

.price-text {
    padding-top: 50px;
    font-size: 12px;
}

.services-text {
    font-weight: 600;
}

.services-price {
    font-weight: 500;
}

.click-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0 20px;
}

.map {
    border: 1px black solid;
    height: 502px;
    width: 362px;
}

.map-desk-top {
    border: 1px black solid;
    height: 452px;
    width: 652px;
}

.adress-bottom {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.time-bottom {
    font-size: 20px;
}

.time-bottom p {

}

.number-bottom {
    text-decoration: underline;
    font-size: 25px;
    padding: 10px 20px;
}

p .time-bottom-a {
    font-weight: 800;
}



